/experiment-dump
/initial_model_testing.ipynb
/political-tests.txt
/resources.md
/__pycache__
/datasets/media/*
/datasets/*.csv
/evaluation/model_checkpoints/*
/evaluation/archive/*
*.log
*.cpython*
lib-tests/*
*/secret.*
*.env